.modal {
  padding: 0.4rem;
  border: 1px solid lightgrey;
  border-radius: 0.4rem;
  width: fit-content;
  position: fixed;
  top: 2rem;
  right: 50vw;
  animation: fadeinout 3s ease-in-out;
  -webkit-animation: fadeinout 3s ease-in-out;
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
    background-color: white;
  }
  20%,
  70% {
    opacity: 1;
    background-color: palevioletred;
  }
}
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
    background-color: white;
  }
  40%,
  60% {
    opacity: 1;
    background-color: palevioletred;
  }
}
